
@model Twooter.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>Login</h2>

    <form asp-controller="Account" class="navbar-form navbar-right" role="search">
        @foreach (var value in TempData.Values)
        {
            <p class="alert alert-danger">@value</p>
        }
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address", @type = "email" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @type = "password", })
        </div>
        <button asp-action="Login" type="submit" class="btn btn-default">Sign In</button>
    </form>
}



