@model Twooter.ViewModels.ZoekViewModel

@*<link href="~/css/site.css" rel="stylesheet" />
<div class="container" style="width: 300px;">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <form asp-action="Zoek" asp-controller="Profiel" >
                    @*<div class="input-append span12" style="height: 40px;">
                        @Html.TextBoxFor(m => m.zoekTerm, new { @class = "search-query form-control", @placeholder = "Search" })
                        <span class="input-group-btn">

                            <button type="submit" class="btn"><span class=" glyphicon glyphicon-search"></span></button>
                        </span>
                    @*</div>
                </form>
            </div>
        </div>
    </div>
</div>*@
<form asp-action="Zoek" asp-controller="Profiel">
    <div class="container" style="width: 300px;">
        <div class="row">
            <div id="custom-search-input">
                <div class="input-group col-md-12">

                    <input type="text" class="search-query form-control" placeholder="Search" name="zoekTerm" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>

                </div>
            </div>
        </div>
    </div>
</form>